<customHead>
    <table>
        <tr>
            <td><a href="{{site.baseurl}}/">Home</a></td>
            <td><a href="{{site.baseurl}}/carlist">Car List</a></td>
            <!-- <td><a href="{{site.baseurl}}/gallery">Gallery</a></td> -->
            <td><a href="{{site.baseurl}}/inventory">Inventory</a></td>
            <td><a href="{{site.baseurl}}/search">Search</a></td>
            <!-- <td><a href="{{site.baseurl}}/reviews">Reviews</a></td> -->
            <!-- <td><a href="{{site.baseurl}}/gama">Gama</a></td> -->
            <td><a href="{{site.baseurl}}/models">Car Models</a></td>
            <td><a href="{{site.baseurl}}/addtoinventory">Add Car</a></td>
            <td><a href="{{site.baseurl}}/signup">Sign Up</a></td>
            <td><a href="{{site.baseurl}}/login">Login/Logout</a></td>
        </tr>
    </table>
</customHead>


    