---
---

@import "{{ site.theme }}";

$red: #ad1616;
$white: rgb(254, 254, 254);

* {
  text-decoration: "none";
}
/* "row style" is flexible size and aligns pictures in center */
.row {
  align-items: center;
  display: flex;
}
  
/* "column style" is one-third of the width with padding */
.column {
  flex: 33.33%;
  padding: 5px;
}

body {
  text-align: center;
  color: $red;
}

h1 {
  text-align: center;
  color: $red;  
}

h2 {
  text-align: center;
  color: $white;  
}

customHead {
  font-size: 2em;
}

footer {
  padding-bottom: 2.5rem;
  font-family: Verdana, sans-serif;
  justify-content: center;
  color: #ffff;
  background-color:#ad1616;

}

// margin-top: 2%;
// display: flex;
// flex-direction: column;
// // min-height: 10vh;

// width:100%;
// height:100px;